<!DOCTYPE html>
<html lang="en">

<body >


<main>
  <div >
    <h1>SAMPLE</h1>
    <h3> Username is <%= username %> </h3>
    <h3> Mail is <%= mail %> </h3>
    <button onclick="logOff()" type="submit" >Log Off</button>
  </div>
  <script src="js/sample.js" username = "<%= username %>" mail = "<%= mail %>" > </script>
</main>



</body>
</html>